* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.memory__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.5rem;
}

.card {
  max-height: 150px;
  max-width: 150px;
  cursor: pointer;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__hide {
  position: relative;
}

.card__hide::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #222;
}

.card__guessed {
  visibility: hidden;
}
